@tailwind base;
@tailwind components;
@tailwind utilities;

body {
 background-color: #020202;
}
.scrollbar-hidden-x::-webkit-scrollbar {
  display: none;
}
.scrollbar-hidden-x {
  -ms-overflow-style: none; /* IE å’Œ Edge */
  scrollbar-width: none; /* Firefox */
}
